<html>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'
      rel='stylesheet'
    />
    <style>
      * { font-family: 'Roboto', sans-serif; }
    </style>
  </head>
  <body>
    <center>
      <div style='width: 24rem; padding: 0.75rem; background-color: #fff;'>
        <p
          style='font-size: 1.25rem; line-height: 1.75rem; font-weight: 700; margin-top: 1.25rem;'
        >Olá, {{user}}</p>
        
        <p style='text-align: left'>Olá, {{user}}. Somos da equipe da <strong>Trama Box</strong></p>
        
        <p
          style='text-align: left'
        >
          Parabéns, seu pedido foi confirmado e já começará a ser preparado.
        </p>
        <p  style='text-align: left'>Em breve a trama box estará aí com você em {{city}} - {{state}}</p>
      </div>
    </center>
  </body>

</html>
